/* Global */

@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Sofia&family=Sofia+Sans:ital,wght@0,300;0,400;1,200&family=Urbanist&display=swap");

:root {
  --main-rouge: #b02626;
  --main-pink: #e2a1a1;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Urbanist";
  background-color: #fae1e1;
}

.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fae1e1;
}

.container {
  margin: 1rem;
  text-align: center;
}

a {
  color: var(--main-rouge);
  text-decoration: none;
}

a:hover:not(.clean-link) {
  text-decoration: underline;
  cursor: pointer;
}

footer {
  padding: 0.5rem 0;
  text-align: center;
}

/* Navbar */

.site-title {
  font-family: "Pacifico", cursive;
  font-size: 2rem;
  color: #b80e0e;
}

.nav {
  background-color: #e2a1a1;
  color: rgb(146, 9, 9);
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
  font-family: "Urbanist";
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0.25rem;
}

.nav li.active {
  background-color: #efbbbb;
}

.nav li:hover {
  background-color: #ffd2d2;
}

/*notes page*/

.btn {
  background-color: #eb9494;
  width: 2.5rem;
  height: 2.5rem;
  padding: 1.35rem;
  border-radius: 100%;
  align-items: center;
  border: 0ch;
  color: #961212;
  margin: 0.5rem;
  font-size: x-large;
  cursor: pointer;
  display: grid;
  place-content: center;
}

.btn:hover svg {
  scale: 1.1;
}
.btn-group {
  display: flex;
  align-items: center;
  justify-content: center;
}
.note-item {
  padding: 0.75rem;
  margin-bottom: 1rem;
  box-shadow: rgba(108, 30, 0, 0.4) 0px 2px 4px,
    rgba(97, 20, 1, 0.3) 0px 7px 13px -3px,
    rgba(110, 21, 1, 0.2) 0px -3px 0px inset;
  font-family: "Sofia Sans";
  font-weight: lighter;
  background-color: #e9a7a7;
  color: #ffe2e2;
  font-size: 1rem;
  transition: scale 500ms ease-in-out;
  height: 15rem;
  display: grid;
}

.note-item:hover {
  scale: 1.025;
}

.note-item h4 {
  font-size: 1.5rem;
  display: block;
  margin-bottom: 0.5rem;
  color: #961212;
}

.notes_header {
  font-family: "Sofia";
  color: #d84e4e;
  font-size: 1.5rem;
}

.add_btn {
  background-color: transparent;
  color: #f68c8c;
  font-size: xx-large;
}

.add_btn:hover {
  color: #aa3e3e;
  background-color: transparent;
}
.search-input-notes {
  background-color: transparent;
  border-color: #eb9494;
  border-style: hidden;
  border-bottom: 2px solid #bf5959;
  font-family: "Sofia Sans";
  color: rgb(146, 9, 9);
  font-size: 1.5rem;
}

input::placeholder {
  opacity: 0.5;
  color: #bf5959;
}
.btn-lg-primary {
  background-color: #eb9494;
  width: 5rem;
  height: 2rem;
  border-radius: 10%;
  font-size: large;
  border: 0ch;
  color: #961212;
  margin: 0.5rem;
  font-family: "Urbanist";
  text-align: center;
  font-size: 1.5rem;
}
.create-note_form {
  background-color: transparent;
  flex-direction: column;
  justify-self: center;
  justify-content: center;
  display: grid;
  align-content: center;
}
.notes-title-create-note {
  background-color: transparent;
  border-color: #eb9494;
  border-style: hidden;
  border-bottom: 2px solid #bf5959;
  font-family: "Sofia Sans";
  color: rgb(146, 9, 9);
  font-size: 2rem;
  margin: 1rem;
  display: -ms-inline-grid;
  justify-content: center;
}
.textarea-notes-crt-nts {
  background-color: #f0d7d7;
  border-color: #f0d7d7;
  font-size: 2rem;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  width: 37.375rem;
  height: 20rem;
  display: flex;
  color: #c42020;
}

textarea::placeholder {
  opacity: 0.5;
  color: #bf5959;
  font-family: "Sofia Sans";
}
.btn-delete-trshicon {
  background-color: #eb9494;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
  align-items: center;
  border: 0ch;
  color: #961212;
  margin: 0.5rem;
  font-size: x-large;
}

.notes_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 1em;
}

.back-btn {
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
  background-color: transparent;
  padding: 1rem;
  display: grid;
  place-content: center;
}

.back-btn:hover {
  background-color: var(--main-pink);
}
/* todo and habits */

.open-modal-btn-todo {
  background-color: #f6b7b7;
  font-family: "Sofia Sans";
  color: #5b0404;
  font-size: 1rem;
  box-shadow: rgba(102, 41, 0, 0.18) 0px 2px 4px;
}
.open-modal-btn-habit {
  background-color: #fee573;
  font-family: "Sofia Sans";
  color: #5b0404;
  font-size: 1rem;
  box-shadow: rgba(102, 41, 0, 0.18) 0px 2px 4px;
}
.title-todosandhabits {
  font-family: "Sofia";
  color: #d84e4e;
}

.open-modal-btn-todo:hover {
  color: #c42020;
  background-color: #eb9494;
}

.open-modal-btn-habit:hover {
  color: #ec2a2a;
  background-color: #ffec99;
}
.sumit-btn-todo {
  font-family: "Urbanist";
  color: #9b1d1d;
  background-color: #e9a7a7;
  margin: 0.5rem;
}
.sumit-btn-habit {
  font-family: "Urbanist";
  color: #9b1d1d;
  background-color: #e9a7a7;
  margin: 0.5rem;
}

.sumit-btn-habit:hover {
  color: #c42020;
  background-color: #eb9494;
}

.sumit-btn-todo:hover {
  color: #c42020;
  background-color: #eb9494;
}
.textarea-todo-add-todo {
  background-color: #f1d7d7;
  border-color: #f0d7d700;
  font-size: 2rem;
  color: #c42020;
  margin-bottom: 1rem;
  box-shadow: rgba(90, 43, 2, 0.25) 0px 1px 1px,
    rgba(89, 46, 0, 0.13) 0px 0px 1px 1px;
}
.textarea-habit-add-habit {
  background-color: #f1d7d7;
  border-color: #f0d7d700;
  font-size: 2rem;
  color: #c42020;
  margin-bottom: 1rem;
  box-shadow: rgba(90, 43, 2, 0.25) 0px 1px 1px,
    rgba(89, 46, 0, 0.13) 0px 0px 1px 1px;
}

.add-todo-in-modal {
  font-family: "Urbanist";
  color: #b84d4d;
  padding: 1rem;
}

.add-habit-in-modal {
  font-family: "Urbanist";
  color: #de5151;
  padding: 1rem;
}

.btn-delete-trshicon-todo {
  background-color: #e85e5e;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 20%;
  border: 0ch;
  color: #fefefe;
  margin: 0.5rem;
  font-size: x-large;
}

.todos-and-habit-item {
  background-color: #e8cbcb;
  box-shadow: rgba(103, 36, 0, 0.09) 0px 2px 1px,
    rgba(103, 36, 0, 0.09) 0px 4px 2px, rgba(103, 36, 0, 0.09) 0px 8px 4px,
    rgba(103, 36, 0, 0.09) 0px 16px 8px, rgba(103, 36, 0, 0.09) 0px 32px 16px;
  border-radius: 1rem;
  margin: 2rem;
  grid-template-rows: repeat(auto-fit, minmax(4rem, 1fr));
  font-size: 2rem;
  font-family: "Sofia Sans";
  padding: 0.3rem;
  color: #5b0404;
  width: 50rem;
  align-self: flex-end;
}

/* Catlendary */
